* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  background: #000;
}

.div {
  position: relative;
  box-sizing: border-box;
}

.backgroundHeader {
  background-image: url(./comps/Images/headerBackground.jpg);
  padding: 16rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.backgroundHeader img {
  display: block;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 9.5rem 3rem;
  width: 100%;
}

.headerDetails {
  position: absolute;
  padding: 0 10rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerDetails img {
  width: 15%;
  margin: 0;
  box-sizing: border-box;
}

.headerDetails button {
  background-color: #d81f26;
  padding: 0.3rem 1.5rem;
  border-radius: 0.4rem;
}

.sign {
  max-width: 500px;
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  transform: translateY(2rem);
  box-sizing: border-box;
}

.sign input {
  width: 100%;
  border-radius: 0.1rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid gray;
  background: rgba(0, 0, 0, 0.217);
  outline: none;
}

.sign button {
  color: #fff;
  width: 50%;
  border-radius: 0.2rem;
  background-color: #d81f26;
}

.headerDetail {
  transform: translateY(2.5rem);
}

header hr {
  border-width: 0.5rem;
  border-color: rgb(122, 122, 122);
}

.fs {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 7rem;
}

hr {
  border-width: 0.5rem;
  border-color: #373737;
}

.sectionTwoDetails {
  margin-top: 8rem;
}

.faqDiv {
  background-color: #2d2d2d;
}

.fas {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.allFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
